body {
  background: black;
}
.container {
  width: 600px;
  margin: 40px auto;
  text-align: center;
}
#jam {
  color: white;
}
h3 {
  color: #1cb7b0;
  font-size: 3em;
  letter-spacing: 0.1em;
  margin-top: 0px;
  margin-bottom: 10px;
}
h4 {
  color: #1cb7b0;
  font-size: 1em;
  letter-spacing: 0.1em;
  margin-top: 0px;
  margin-bottom: 40px;
}
.kartu {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1s;
  perspective: 100px;
}

.belakang {
  font-size: 1.5em;
  background: #1cb7b0;
  color: white;
  transform: rotateY(180deg);
}

.depan {
  background: white;
  color: red;
  font-size: 0.9em;
  letter-spacing: 2px;
}
.depan,
.belakang {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
}
.buka,
.betul {
  transform: rotateY(180deg);
}
#game {
  display: flex;
  flex-wrap: wrap;
}
